<a href="https://colab.research.google.com/github/katerynal-commits/-4-for/blob/main/Copy_of_HW8_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [ ]:
print(df.head()) #перші 5 рядків
print(df.shape) #розмір датасету
print(df.columns) #назви всіх колонок
df.info() #інформація про типи даних

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765
(244, 8)
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'tip_percentage'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_bill      244 non-null    float64
 1   tip             244 non-null    float64
 2   sex             244 non-null    object
 3   smoker          244 non-null    object
 4   day             244 non-null    object
 5   time            244 non-null    object
 6   size            244 non-null    int64
 7   tip_percentage  244 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 15.4+ KB

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

# Завантаження датасету Tips з CSV
df = pd.read_csv("tip.csv")
print("Датасет успішно завантажено yes!\n")

Датасет успішно завантажено yes!

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [ ]:
df.total_bill
df.tip
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [ ]:
print(df.head(10))
print(df.iloc[5])

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2
total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object

**3. Фільтрація даних**

Відфільтруйте повний набір даних та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю з сумою чеку більше 30 доларів

Для виведення результатів фільтрації:
- зберегти результат у окрему змінну
- показати кількість записів у відфільтрованому наборі
- вивести перші 5 записів відфільтрованого набору.

In [ ]:
bills_over_20 = df[df['total_bill'] > 20]
print("Всі рахунки більше 20$")
print("Кількість записів:", len(bills_over_20))
print("Перші 5 рядків:")
print(bills_over_20.head())
print("\n")
female_visitors = df[df['sex'] == 'Female']
print("Всі відвідувачі-жінки")
print("Кількість записів:", len(female_visitors))
print("Перші 5 рядків:")
print(female_visitors.head())
print("\n")
dinner_bills = df[df['time'] == 'Dinner']
print("Рахунки на вечерю")
print("Кількість записів:", len(dinner_bills))
print("Перші 5 рядків:")
print(dinner_bills.head())
print("\n")
dinner_over_30 = df[(df['time'] == 'Dinner') & (df['total_bill'] > 30)]
print("Рахунки на вечерю і більше 30$")
print("Кількість записів:", len(dinner_over_30))
print("Перші 5 рядків:")
print(dinner_over_30.head())

Всі рахунки більше 20$
Кількість записів: 97
Перші 5 рядків:
   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
7       26.88  3.12    Male     No  Sun  Dinner     4


Всі відвідувачі-жінки
Кількість записів: 87
Перші 5 рядків:
    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3


Рахунки на вечерю
Кількість записів: 176
Перші 5 рядків:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4


Рахунки на вечерю і більше 30$
Кількість записів: 27
Перші 5 рядків:
    total_bill   tip     sex smoker  day    time  size
11       35.26  5.00  Female     No  Sun  Dinner     4
23       39.42  7.58    Male     No  Sat  Dinner     4
39       31.27  5.00    Male     No  Sat  Dinner     3
44       30.40  5.60    Male     No  Sun  Dinner     4
47       32.40  6.00    Male     No  Sun  Dinner     4

In [ ]:

df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

---

**4. Описова статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки в наборі даних рахунків за обіди і за вечері

In [ ]:
average_bill = df['total_bill'].mean()
print( average_bill) #середній розмір рахунку
max_tip = df['tip'].max()
print("Максимальні чайові:", max_tip)
missing_values = df.isnull().sum()
print("Кількість пропущених значень у кожній колонці:")
print(missing_values)
meal_counts = df['time'].value_counts()
print("Кількість рахунків за обіди і вечері:")
print(meal_counts)

19.78594262295082
Максимальні чайові: 10.0
Кількість пропущених значень у кожній колонці:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
Кількість рахунків за обіди і вечері:
time
Dinner    176
Lunch      68
Name: count, dtype: int64

---

**5. Статистика із групуванням**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [ ]:
avg_bill_by_sex = df.groupby('sex')['total_bill'].mean()
print("Середній рахунок за статтю:")
print(avg_bill_by_sex)
print("\n")
avg_tip_by_day = df.groupby('day')['tip'].mean()
print("Середні чайові за днем тижня:")
print(avg_tip_by_day)
print("\n")
visitors_by_day = df['day'].value_counts()
print("Кількість відвідувачів у кожен день:")
print(visitors_by_day)

Середній рахунок за статтю:
sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64


Середні чайові за днем тижня:
day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64


Кількість відвідувачів у кожен день:
day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [ ]:
df['tip_percentage'] = (df['tip'] / df['total_bill']) * 100
print(df.head(10))

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765
5       25.29  4.71    Male     No  Sun  Dinner     4       18.623962
6        8.77  2.00    Male     No  Sun  Dinner     2       22.805017
7       26.88  3.12    Male     No  Sun  Dinner     4       11.607143
8       15.04  1.96    Male     No  Sun  Dinner     2       13.031915
9       14.78  3.23    Male     No  Sun  Dinner     2       21.853857

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [ ]:
sorted_by_bill = df.sort_values(by='total_bill')
print("Сортування за розміром рахунку (зростання):")
print(sorted_by_bill.head(5))  # перші 5 рядків
print("\n")
sorted_by_tip = df.sort_values(by='tip', ascending=False)
print("Сортування за чайовими (спадання):")
print(sorted_by_tip.head(5))  # перші 5 рядків
print("\n")
top5_tips = df.nlargest(5, 'tip')
print("Топ-5 найбільших чайових:")
print(top5_tips)
df.to_csv("tips.csv", index=False)
print("Файл збережено у tips.csv")
df_from_csv = pd.read_csv("tips.csv")
print("Перші 5 рядків з файлу tips.csv:")
print(df_from_csv.head())
df.to_csv("tips.csv", index=False)

Сортування за розміром рахунку (зростання):
     total_bill   tip     sex smoker   day    time  size  tip_percentage
67         3.07  1.00  Female    Yes   Sat  Dinner     1       32.573290
92         5.75  1.00  Female    Yes   Fri  Dinner     2       17.391304
111        7.25  1.00  Female     No   Sat  Dinner     1       13.793103
172        7.25  5.15    Male    Yes   Sun  Dinner     2       71.034483
149        7.51  2.00    Male     No  Thur   Lunch     2       26.631158


Сортування за чайовими (спадання):
     total_bill    tip   sex smoker   day    time  size  tip_percentage
170       50.81  10.00  Male    Yes   Sat  Dinner     3       19.681165
212       48.33   9.00  Male     No   Sat  Dinner     4       18.621974
23        39.42   7.58  Male     No   Sat  Dinner     4       19.228818
59        48.27   6.73  Male     No   Sat  Dinner     4       13.942407
141       34.30   6.70  Male     No  Thur   Lunch     6       19.533528


Топ-5 найбільших чайових:
     total_bill    tip   sex smoker   day    time  size  tip_percentage
170       50.81  10.00  Male    Yes   Sat  Dinner     3       19.681165
212       48.33   9.00  Male     No   Sat  Dinner     4       18.621974
23        39.42   7.58  Male     No   Sat  Dinner     4       19.228818
59        48.27   6.73  Male     No   Sat  Dinner     4       13.942407
141       34.30   6.70  Male     No  Thur   Lunch     6       19.533528
Файл збережено у tips.csv
Перші 5 рядків з файлу tips.csv:
   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765